@charset "UTF-8";

/*Обнуление*/

@import url(https://fonts.googleapis.com/css?family=Inter:regular,500,700&display=swap);

@import url(https://fonts.googleapis.com/css?family=Quicksand:500,700&display=swap);

@import url(https://fonts.googleapis.com/css?family=Roboto:regular,500,700&display=swap);

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
  font-style: normal;
  font-family: Inter;
  color: #19191D;
  background: #fff;
}

.wrapper a {
  color: inherit;
}

.container {
  max-width: 1493px;
  margin: 0 auto;
  padding: 0px 15px;
  box-sizing: content-box;
}

body.lock {
  overflow: hidden;
}

::-webkit-scrollbar {
  /* 1 - скроллбар */
  width: 5px;
}

::-webkit-scrollbar-button {
  /* 2 - кнопка */
  display: none;
}

::-webkit-scrollbar-track {
  /* 3 - трек */
}

::-webkit-scrollbar-track-piece {
  /* 4 - видимая часть трека */
  background-color: #5A5B6A;
}

::-webkit-scrollbar-thumb {
  /* 5 - ползунок */
  background-color: #2979FF;
}

::-webkit-scrollbar-corner {
  /* 6 - уголок */
}

::-webkit-resizer {
  /* 7 - изменение размеров */
}

@font-face {
  font-family: "icon";
  src: url("../files/fonts/icon.eot?w2u5oc");
  src: url("../files/fonts/icon.eot?w2u5oc#iefix") format("embedded-opentype"), url("../files/fonts/icon.ttf?w2u5oc") format("truetype"), url("../files/fonts/icon.woff?w2u5oc") format("woff"), url("../files/fonts/icon.svg?w2u5oc#icon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^=icon-]::before,
[class*=" icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow:before {
  content: "\e900";
}

.icon-arrowDown:before {
  content: "\e901";
}

.icon-art:before {
  content: "\e902";
}

.icon-block:before {
  content: "\e903";
}

.icon-car:before {
  content: "\e904";
}

.icon-category:before {
  content: "\e905";
}

.icon-close:before {
  content: "\e906";
}

.icon-clothing:before {
  content: "\e907";
}

.icon-electrical:before {
  content: "\e908";
}

.icon-entertainment:before {
  content: "\e909";
}

.icon-fashion:before {
  content: "\e90a";
}

.icon-garden:before {
  content: "\e90b";
}

.icon-kitchen:before {
  content: "\e90c";
}

.icon-love:before {
  content: "\e90d";
}

.icon-mother:before {
  content: "\e90e";
}

.icon-music:before {
  content: "\e90f";
}

.icon-pets:before {
  content: "\e910";
}

.icon-products:before {
  content: "\e911";
}

.icon-row:before {
  content: "\e912";
}

.icon-search:before {
  content: "\e913";
}

.icon-sport:before {
  content: "\e914";
}

.icon-sporting:before {
  content: "\e915";
}

.icon-toys:before {
  content: "\e916";
}

.icon-travel:before {
  content: "\e917";
}

.icon-vintage:before {
  content: "\e918";
}

.header__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 1fr 50px minmax(0, 1493px) 50px 1fr;
      grid-template: 1fr/1fr minmax(0, 1493px) 1fr;
  align-items: center;
  gap: 50px;
  padding: 20px 15px;
}

.header__logo {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

.header__form {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.form {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
  align-items: center;
  gap: 4px;
  font-weight: 400;
  font-size: 20px;
  line-height: 158%;
  letter-spacing: 0.0075em;
  color: #19191D;
  background: #EDEDF0;
  border-radius: 99px;
  padding: 10px;
}

.form ._icon-search {
  padding: 0 0 0 10px;
  color: #5A5B6A;
}

.input {
  font-size: 20px;
  color: #5A5B6A;
  flex: 0 0 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search {
  flex: 1 1 auto;
  width: 100%;
  padding: 0 5px;
  background-color: inherit;
}

.form__close {
  flex: 0 0 32px;
  font-size: 20px;
  color: #2979FF;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s;
}

.form__close.active {
  opacity: 1;
  visibility: visible;
}

.user {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: end;
}

.user .user__btn {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.0075em;
  padding: 8px 12px;
  border: 1px solid #9dc2ff;
  box-sizing: border-box;
  border-radius: 4px;
  color: #2979FF;
  transition: all 0.3s;
  white-space: nowrap;
}

.user .user__btn:hover {
  box-shadow: 0px 2px 4px rgba(27, 78, 163, 0.2), 0px 4px 8px rgba(41, 121, 255, 0.2);
  border: 1px solid #fff;
}

.user .user__cart {
  position: relative;
}

.user .user__cart span {
  position: absolute;
  min-width: 25px;
  min-height: 25px;
  border-radius: 50%;
  background-color: #f44336;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  top: -7px;
  right: -7px;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.75px;
  text-transform: uppercase;
}

main .nav {
  padding-top: 32px;
  padding-bottom: 44px;
}

main .nav__container {
  text-align: center;
}

main .nav__body {
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 10px;
}

main .nav__link {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center;
  flex: 1 1 auto;
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.018em;
  color: #5A5B6A;
  transition: color 0.3s;
}

main .nav__link.active {
  color: #2979FF;
}

main .nav__link::before {
  color: inherit;
  font-size: 16px;
  display: block;
  margin: 0 0 4px 0;
}

main .nav__item {
  color: black;
  display: none;
}

main .nav__item-title-arrow {
  font-weight: 500;
  font-size: 30px;
  line-height: 143%;
  letter-spacing: 0.018em;
  color: #5A5B6A;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  margin: 10px auto;
  position: relative;
}

main .nav__item-title-arrow::after,
main .nav__item-title-arrow::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(30px, -50%);
  width: 15px;
  height: 2px;
  border-radius: 1px;
  background-color: #2979FF;
  transition: all 0.3s;
}

main .nav__item-title-arrow::after {
  transform: translate(25px, -50%) rotate(45deg);
}

main .nav__item-title-arrow::before {
  transform: translate(35px, -50%) rotate(-45deg);
}

main .nav__item-title-arrow.active::after {
  transform: translate(25px, -50%) rotate(-45deg);
}

main .nav__item-title-arrow.active::before {
  transform: translate(35px, -50%) rotate(45deg);
}

main .main-part {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 1fr minmax(auto, 304px) minmax(auto, 1114px) 1fr;
      grid-template: 1fr/1fr minmax(auto, 304px) minmax(auto, 1114px) 1fr;
  align-items: start;
  padding: 0 15px;
}

main .main-part__sidebar {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  margin-right: 20px;
}

main .main-part__content {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  padding: 15px;
  margin-left: 6px;
}

main .sidebar .sidebar__category-menu {
  background-color: transparent;
  width: 100%;
  padding: 8px 20px;
  font-family: Quicksand;
  font-weight: 700;
  text-align: left;
  font-size: 24px;
  line-height: 150%;
  color: #2979FF;
  border: 1px solid #9dc2ff;
  box-sizing: border-box;
  border-radius: 8px;
  transition: all 0.3s;
}

main .sidebar .sidebar__category-menu::before {
  font-size: 16px;
  margin-right: 50px;
}

main .sidebar .sidebar__category-menu:hover {
  background-color: #f1f6ff;
}

main .sidebar .sidebar__menu {
  margin-top: 46px;
}

main .menu-sidebar .menu-sidebar__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-align: left;
  background-color: transparent;
  letter-spacing: 0.0275em;
  color: #19191D;
  margin: 0 0 10px 0;
}

main .menu-sidebar .menu-sidebar__title::before {
  display: inline-block;
  color: #2979FF;
  font-size: 10px;
  margin: 0 15px 0 0;
  transform: translate(0, -2.5px) rotate(-90deg);
  transform-origin: center;
  transition: all 0.3s;
}

main .menu-sidebar .menu-sidebar__title.active::before {
  transform: translate(0, -2.5px) rotate(0deg);
}

main .nav-content {
  display: none;
}

main .nav-content.active {
  display: block;
}

main .nav-title {
  margin: 0 0 10px 0;
  display: block;
  text-align: left;
}

main .menu-nav {
  margin: 0 0 0 10px;
}

main .menu-nav > .nav-content {
  margin: 0 0 0 20px;
}

main .menu-nav > .nav-content > .nav-content {
  margin: 0 0 0 30px;
}

main .nav-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.0275em;
  color: #19191D;
  display: none;
}

main .nav-item:not(:last-child) {
  margin: 0 0 10px 0;
}

main .nav-item.active {
  display: block;
}

main .nav__btn {
  padding: 6px 12px;
  background: #EDEDF0;
  border-radius: 4px;
  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.75px;
  text-transform: capitalize;
  color: #2979FF;
  margin: 0 0 10px 0;
}

main .nav__btn.none {
  display: none;
}

main .menu-nav__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.022em;
  color: #19191D;
  background-color: transparent;
}

main .menu-nav__link::before {
  display: inline-block;
  color: #2979FF;
  font-size: 10px;
  margin: 0 15px 0 0;
  transform: translate(0, -2.5px) rotate(-90deg);
  transform-origin: center;
  transition: all 0.3s;
}

main .menu-nav__link.active::before {
  transform: translate(0, -2.5px) rotate(0deg);
}

main .filter-sidebar {
  margin-top: 32px;
}

main .filter-sidebar .filter-sidebar__item {
  background-color: #f7f7fa;
}

main .filter-sidebar .filter-sidebar__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.0275em;
  font-family: Inter;
  color: #19191D;
  padding: 8px;
  box-shadow: 0px 1px 2px rgba(58, 58, 68, 0.24), 0px 2px 4px rgba(90, 91, 106, 0.24);
  border-radius: 4px;
  background-color: #fff;
  width: 100%;
  text-align: left;
  transition: all 0.3s;
}

main .filter-sidebar .filter-sidebar__title span {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  float: right;
  font-size: 10px;
  color: #2979FF;
  transition: all 0.3s;
  display: inline-block;
  transform-origin: center;
}

main .filter-sidebar .filter-sidebar__title.active {
  box-shadow: 0 0 0 #fff;
  border-radius: 0;
  background-color: transparent;
}

main .filter-sidebar .filter-sidebar__title.active span {
  transform: rotate(-180deg) translate(0, 2.5px);
  color: #5A5B6A;
}

main .filter-sidebar .filter-sidebar__content {
  display: block;
  padding: 15px 20px;
}

main .filter-sidebar .filter-sidebar__content.none {
  display: none;
}

main .filter-sidebar .filter-sidebar__content.content-filter .content-filter__show-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 10px 0;
}

main .filter-sidebar .filter-sidebar__content.content-filter .content-filter__show-price .input {
  background-color: transparent;
  text-align: center;
  width: 70px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.0275em;
}

main .filter-sidebar .filter-sidebar__content.content-filter .content-filter__show-price .price-show__input {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.0275em;
}

main .filter-sidebar .filter-sidebar__content.content-filter .slider .noUi-connect {
  background-color: #2979FF;
}

main .filter-sidebar .filter-sidebar__content.content-filter .slider.noUi-horizontal {
  height: 10px;
}

main .filter-sidebar .filter-sidebar__content.content-filter .slider.noUi-target {
  background: #fff;
  border-radius: 5px;
  border: 1px solid #5A5B6A;
  box-shadow: inset 0 1px 1px #f0f0f0, 0 3px 6px -5px #bbb;
}

main .filter-sidebar .filter-sidebar__content.content-filter .slider .noUi-handle {
  border: 1px solid #5A5B6A;
  border-radius: 50%;
  background: #fff;
  cursor: default;
  width: 20px;
  height: 20px;
  top: -6px;
  right: -10px;
  box-shadow: inset 0 0 1px #fff, inset 0 1px 7px #ebebeb, 0 3px 6px -3px #bbb;
}

main .filter-sidebar .filter-sidebar__content.content-filter .slider .noUi-handle::before,
main .filter-sidebar .filter-sidebar__content.content-filter .slider .noUi-handle::after {
  display: none;
}

main .filter-sidebar .filter-sidebar__content .content-filter__form .filter-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

main .filter-sidebar .filter-sidebar__content .content-filter__form .filter-checkbox:checked + .checkbox-label::before {
  background-color: #2979FF;
}

main .filter-sidebar .filter-sidebar__content .content-filter__form .filter-checkbox:checked:hover + .checkbox-label::before {
  box-shadow: 0 0 5px #2979FF;
}

main .filter-sidebar .filter-sidebar__content .content-filter__form .filter-checkbox:hover + .checkbox-label::before {
  box-shadow: 0 0 5px #5A5B6A;
}

main .filter-sidebar .filter-sidebar__content .content-filter__form .checkbox-label {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

main .filter-sidebar .filter-sidebar__content .content-filter__form .checkbox-label::before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  flex-shrink: 0;
  flex-grow: 0;
  border-radius: 2.5px;
  border: 2px solid #4a4b57;
  margin-right: 20px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  transition: all 0.3s;
}

main .filter-sidebar .filter-sidebar__content .content-filter__form p {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.0275em;
}

main .filter-sidebar .filter-sidebar__content .content-filter__form p:not(:last-child) {
  margin: 0 0 10px 0;
}

main .filter-sidebar .filter-sidebar__content .content-filter__form .filter-radio {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

main .filter-sidebar .filter-sidebar__content .content-filter__form .filter-radio:checked + .radio-label::before {
  background-color: #2979FF;
}

main .filter-sidebar .filter-sidebar__content .content-filter__form .filter-radio:checked:hover + .radio-label::before {
  box-shadow: 0 0 5px #2979FF;
}

main .filter-sidebar .filter-sidebar__content .content-filter__form .filter-radio:hover + .radio-label::before {
  box-shadow: 0 0 5px #5A5B6A;
}

main .filter-sidebar .filter-sidebar__content .content-filter__form .radio-label {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

main .filter-sidebar .filter-sidebar__content .content-filter__form .radio-label::before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  flex-shrink: 0;
  flex-grow: 0;
  border-radius: 50%;
  border: 2px solid #4a4b57;
  margin-right: 20px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  transition: all 0.3s;
}

main .filter-sidebar__item:not(:last-child) {
  margin-bottom: 24px;
}

main .head-content {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 24px;
}

main .view-content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;
}

main .show-content {
  background-color: #ebf2ff;
}

main .show-how {
  background-color: #ebf2ff;
}

main .show-content__btn {
  padding: 8px 16px;
  border-radius: 4px;
  font-weight: 400;
  transition: all 0.3s;
  font-size: 14px;
  line-height: 143%;
  text-align: center;
  background-color: #ebf2ff;
  letter-spacing: 0.018em;
  color: #5A5B6A;
}

main .show-content__btn.active {
  background: #ffffff;
  box-shadow: 0px 1px 2px rgba(27, 78, 163, 0.24), 0px 2px 4px rgba(41, 121, 255, 0.24);
  border-radius: 4px;
  color: #2979FF;
}

main .show-how__btn {
  padding: 8px 25px;
  color: #5A5B6A;
  border-radius: 4px;
  background-color: #ebf2ff;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  text-align: center;
  transition: all 0.3s;
  letter-spacing: 0.018em;
}

main .show-how__btn.active {
  background: #ffffff;
  box-shadow: 0px 1px 2px rgba(27, 78, 163, 0.24), 0px 2px 4px rgba(41, 121, 255, 0.24);
  border-radius: 4px;
  color: #2979FF;
}

main .small-filter__form {
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.018em;
  padding: 6px 12px;
  border: 1px solid #5a5b6a;
  box-sizing: border-box;
  border-radius: 4px;
}

main .content__related {
  margin-top: 40px;
  margin-bottom: 15px;
}

main .related-content {
  display: flex;
  align-items: start;
  gap: 8px;
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.018em;
}

main .related-content .related-content__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  -moz-column-gap: 8px;
       column-gap: 8px;
  row-gap: 20px;
  color: #4a4b57;
}

main .related-content .related-content__list li a {
  background: #ededf0;
  border-radius: 99px;
  padding: 6px 12px;
}

main .content-body {
  display: flex;
  align-items: start;
  flex-wrap: wrap;
  gap: 15px;
}

main .content-body.block .content-body__item {
  flex: 0 1 258px;
  display: none;
  flex-direction: column;
}

main .content-body.block .content-body__item.show {
  display: flex;
}

main .content-body.row .content-body__item {
  width: 100%;
  display: none;
  gap: 20px;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 230px 20px auto;
      grid-template: 1fr/230px auto;
}

main .content-body.row .content-body__item.show {
  display: -ms-grid;
  display: grid;
}

main .content-body__no {
  font-weight: 500;
  line-height: 143%;
  letter-spacing: 0.018em;
  color: #5A5B6A;
  padding: 10px 0;
  font-size: 40px;
  display: none;
}

main .content-body__no.no {
  display: block;
}

main .item-body {
  padding: 15px;
  transition: all 0.3s;
  border-radius: 10px;
  cursor: pointer;
}

main .item-body:hover {
  box-shadow: 0 0 10px #5A5B6A;
}

main .item-body .item-body__image {
  margin: 0 0 10px 0;
  max-width: 230px;
  max-height: 230px;
}

main .item-body .item-body__image img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

main .item-body .item-body__info {
  display: flex;
  flex-direction: column;
}

main .item-body .item-body__name {
  margin: 0 0 10px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.0275em;
  flex: 1 1 auto;
}

main .item-body .item-body__price {
  margin: 0 0 10px 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  align-items: center;
}

main .item-body .item-body__price .after-price {
  margin: 0 0 0 auto;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  border-radius: 4px;
  text-align: center;
  letter-spacing: 0.4px;
  padding: 4px 6px;
}

main .item-body .item-body__price .after-price.pink {
  color: #c23564;
  background: #fdedf2;
}

main .item-body .item-body__price .after-price.green {
  color: #37833b;
  background: #ecf7ed;
}

main .item-body .item-body__price .after-price.none {
  display: none;
}

main .item-body .item-body__description {
  margin: 0 0 10px 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.018em;
  color: #5A5B6A;
  flex: 0 1 50px;
}

main .item-body .item-body__description span {
  font-family: Roboto;
  font-weight: 500;
}

main .item-body .item-body__footer {
  display: flex;
}

main .item-body .item-body__footer .item-body__rate {
  flex: 1 1 auto;
}

main .item-body .item-body__footer .item-body__btn {
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.018em;
  color: #2979FF;
  background: #ffffff;
  border: 1px solid #9dc2ff;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 4px 12px;
  display: flex;
  align-items: center;
  gap: 7px;
}

main .content__button {
  margin-top: 40px;
  margin-bottom: 40px;
}

main .button-content {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

main .link-content {
  background-color: #ededf0;
  border-radius: 8px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex: 1 1 auto;
  transition: all 0.3s;
}

main .link-content:hover {
  box-shadow: 0 0 10px #5A5B6A;
}

main .link-content .link-content__image {
  margin: 0 0 5px 0;
}

main .link-content .link-content__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.0075em;
}

main .link-content .link-content__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.018em;
  color: #5A5B6A;
}

main .rate {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
  line-height: 0.75;
}

main .rate .rate__body {
  position: relative;
}

main .rate .rate__body .rate__active {
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

main .rate .rate__body .rate__active::before {
  content: "★★★★★";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  font-size: 20px;
  color: #fb8200;
}

main .rate .rate__body .rate__items {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

main .rate .rate__body .rate__items .rate__item {
  flex: 0 0 20%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

main .rate .rate__body::before {
  content: "★★★★★";
  display: block;
  font-size: 20px;
  color: #fff;
}

main .rate .rate__value {
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  align-items: center;
  letter-spacing: 0.1px;
  color: #5A5B6A;
  transform: translate(0, 2px);
}

main #input-select,
main #input-number {
  padding: 7px;
  margin: 15px 5px 5px;
  width: 70px;
}

main .popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(237, 237, 240, 0.3);
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 999;
  visibility: hidden;
  overflow-x: hidden;
  overflow-y: auto;
  transition: all 0.5s;
}

main .popup.open {
  opacity: 1;
  visibility: visible;
}

main .popup.open .popup__content {
  opacity: 1;
  transform: translate(0, 0);
}

main .popup .popup__body {
  min-height: 100%;
  display: flex;
  align-items: end;
  justify-content: center;
}

main .popup .popup__content {
  color: #19191D;
  background-color: #fff;
  max-width: 1114px;
  padding: 15px;
  position: relative;
  transition: all 0.8s;
  opacity: 0;
  transform: translate(0, 100%);
  border-radius: 24px;
}

main .popup .category-menu__head {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  font-family: Quicksand;
  font-weight: 700;
  margin-bottom: 40px;
  margin-top: 30px;
}

main .popup .category-menu__head .category-menu__title {
  flex: 1 1 auto;
  font-size: 34px;
  line-height: 128%;
}

main .popup .category-menu__head .category-menu__button {
  padding: 6px 16px;
  border-radius: 4px;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.0075em;
  color: #2979FF;
}

main .popup .body-menu {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

main .popup .body-menu .list-menu {
  flex: 1 1 auto;
}

main .popup .body-menu .list-menu .list-menu__title {
  padding: 12px 16px;
  background: #ebf2ff;
  border-radius: 99px;
  font-weight: 700;
  font-family: Quicksand;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.0075em;
  color: #2979FF;
  display: inline-flex;
  align-items: center;
  gap: 15px;
  margin: 0 0 10px 0;
  transition: all 0.3s;
}

main .popup .body-menu .list-menu .list-menu__title:hover {
  background: #dfeafd;
}

main .popup .body-menu .list-menu .list-menu__item {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.44px;
  padding: 10px 17px;
}

main .popup .popup__close {
  position: absolute;
  right: 40px;
  top: 25px;
  z-index: 5;
}

main .popup .popup__close::before,
main .popup .popup__close::after {
  content: "";
  position: absolute;
  width: 25px;
  background: #2979FF;
  height: 3px;
  border-radius: 3px;
}

main .popup .popup__close::before {
  transform: rotate(45deg);
}

main .popup .popup__close::after {
  transform: rotate(-45deg);
}

main .popup .close-popup {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
}

@media (min-width: 768px) {
  main .content-body.row .item-body__image {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }

  main .content-body.row .item-body__info {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }
}

@media (max-width: 1493px) {
  .user {
    gap: calc(15px + 5 * ((100vw - 320px) / 1173));
  }

  .user .user__btn {
    font-size: calc(16px + 4 * ((100vw - 320px) / 1173));
  }

  main .nav {
    padding-top: calc(20px + 12 * ((100vw - 320px) / 1173));
  }

  main .nav {
    padding-bottom: calc(20px + 24 * ((100vw - 320px) / 1173));
  }

  main .main-part__sidebar {
    margin-right: calc(10px + 10 * ((100vw - 320px) / 1173));
  }

  main .main-part__content {
    margin-left: calc(0px + 6 * ((100vw - 320px) / 1173));
  }

  main .sidebar .sidebar__category-menu {
    font-size: calc(20px + 4 * ((100vw - 320px) / 1173));
  }

  main .sidebar .sidebar__category-menu::before {
    margin-right: calc(10px + 40 * ((100vw - 320px) / 1173));
  }

  main .sidebar .sidebar__menu {
    margin-top: calc(20px + 26 * ((100vw - 320px) / 1173));
  }

  main .filter-sidebar {
    margin-top: calc(20px + 12 * ((100vw - 320px) / 1173));
  }

  main .filter-sidebar .filter-sidebar__content .content-filter__form .checkbox-label::before {
    margin-right: calc(10px + 10 * ((100vw - 320px) / 1173));
  }

  main .filter-sidebar .filter-sidebar__content .content-filter__form .radio-label::before {
    margin-right: calc(10px + 10 * ((100vw - 320px) / 1173));
  }

  main .filter-sidebar__item:not(:last-child) {
    margin-bottom: calc(10px + 14 * ((100vw - 320px) / 1173));
  }

  main .head-content {
    gap: calc(15px + 9 * ((100vw - 320px) / 1173));
  }

  main .view-content {
    gap: calc(15px + 9 * ((100vw - 320px) / 1173));
  }

  main .content__related {
    margin-top: calc(15px + 25 * ((100vw - 320px) / 1173));
  }

  main .content__related {
    margin-bottom: calc(15px + 0 * ((100vw - 320px) / 1173));
  }

  main .content-body {
    gap: calc(10px + 5 * ((100vw - 320px) / 1173));
  }

  main .content-body.block .content-body__item {
    flex: 1 1 258px;
  }

  main .content-body__no {
    font-size: calc(30px + 10 * ((100vw - 320px) / 1173));
  }

  main .item-body {
    padding: calc(10px + 5 * ((100vw - 320px) / 1173));
  }

  main .content__button {
    margin-top: calc(20px + 20 * ((100vw - 320px) / 1173));
  }

  main .content__button {
    margin-bottom: calc(20px + 20 * ((100vw - 320px) / 1173));
  }

  main .popup .category-menu__head {
    margin-bottom: calc(20px + 20 * ((100vw - 320px) / 1173));
  }

  main .popup .category-menu__head {
    margin-top: calc(5px + 25 * ((100vw - 320px) / 1173));
  }

  main .popup .body-menu {
    gap: calc(20px + 20 * ((100vw - 320px) / 1173));
  }
}

@media (max-width: 1114px) {
  main .popup .popup__content {
    max-width: 100%;
    min-height: 100%;
  }

  main .popup .body-menu {
    align-items: center;
  }
}

@media (max-width: 992px) {
  .header__container {
    gap: 0px;
  }

  main .nav {
    padding: 10px 0;
  }

  main .nav__body {
    display: -ms-grid;
    display: grid;
    gap: 20px;
    -ms-grid-rows: auto 20px auto;
    -ms-grid-columns: auto 20px auto 20px auto 20px auto 20px auto 20px auto;
        grid-template: repeat(2, auto)/repeat(6, auto);
  }

  main .nav__item {
    display: block;
  }

  main .menu-nav > .nav-content {
    margin: 0 0 0 10px;
  }

  main .menu-nav > .nav-content > .nav-content {
    margin: 0 0 0 20px;
  }
}

@media (max-width: 768px) {
  main .show-how {
    display: none;
  }

  main .content-body.block {
    justify-content: center;
  }

  main .content-body.row .content-body__item {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media (max-width: 600px) {
  main .nav__body {
    -ms-grid-rows: (auto)[3];
    -ms-grid-columns: (auto)[4];
        grid-template: repeat(3, auto)/repeat(4, auto);
  }

  main .main-part {
    -ms-grid-rows: 1fr;
    -ms-grid-columns: (auto)[2];
        grid-template: 1fr/repeat(2, auto);
  }

  main .main-part__sidebar {
    margin: 0;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }

  main .main-part__content {
    margin: 0;
    padding: 15px 0 0 0;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }

  main .sidebar .sidebar__category-menu {
    text-align: center;
  }

  main .item-body {
    text-align: center;
    align-items: center;
  }

  main .item-body .item-body__price {
    justify-content: center;
  }

  main .item-body .item-body__price .after-price {
    margin: 0 0 0 20px;
  }
}

@media (max-width: 480px) {
  main .nav__body {
    -ms-grid-rows: (auto)[6];
    -ms-grid-columns: (auto)[2];
        grid-template: repeat(6, auto)/repeat(2, auto);
  }
}